# Environments
.env
.env.local
.env.*.local
*.env

# Dependencies
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/

# Logs
logs/
*.log

# Caches
.pytest_cache/
.coverage
coverage.xml

# Vector DB
chroma_data/
