fastapi==0.109.2
uvicorn[standard]==0.27.1
pydantic==2.6.1
pydantic-settings==2.1.0
python-multipart==0.0.9

# AI & Voice (Giai đoạn 1)
faster-whisper
google-generativeai==0.4.1

# Vector DB & Embeddings (Giai đoạn 2)
# chromadb==0.4.22
# sentence-transformers==2.5.1
